.Principal{
    color: blueviolet;
    text-align: center;
}

.one{
    color: rgb(0, 0, 0);
    margin: 40px;
    text-align: center;
}
td{
    color: blueviolet;
}

tr{
    color: brown;
}